<settings>
  <servers>
    <server>
      <id>nexus-snapshots</id>
      <username>admin</username>
      <password>Gagan@123456</password>
    </server>
    <server>
      <id>nexus-releases</id>
      <username>admin</username>
      <password>Gagan@123456</password>
    </server>
  </servers>
</settings>
